In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('restaurant_data_guwahati.csv')

# Some EDA

In [6]:
df.head()

            name             coordinates  average_rating  number_of_ratings
0  Quick Kitchen  (26.107517, 91.616328)             2.0                658
1  Golden Bakery  (26.130371, 91.789294)             3.5                584
2   Happy Bakery   (26.21307, 91.774535)             3.8                 29
3   Quick Tavern  (26.150731, 91.839227)             2.2                770
4     Tasty Cafe  (26.150801, 91.696938)             2.4                143

In [12]:
test_df = df

In [9]:
test_df.at[0, 'coordinates']

'(26.107517, 91.616328)'

#### Converting all co-ordinates from strings to floating point tuples

In [16]:
# test_df.at[0, 'coordinates']
lat = []
long = []
for i in range(test_df.shape[0]):
    val = test_df.at[i, 'coordinates']
    j = 0
    while j < len(val):
        if val[j]==',':
            break
        j += 1
    
    lat.append(np.float64(val[1:j]))
    long.append(np.float64(val[j+2:-1]))

In [17]:
test_df['lat'] = lat
test_df['long'] = long

In [67]:
max_c = [25.0, 90.0]
min_c = [27.0, 93.0]
for i in range(test_df.shape[0]):
    c = test_df.at[i, 'coordinates']
    if c[0] > max_c[0]:
        max_c[0] = c[0]
    if c[0] < min_c[0]:
        min_c[0] = c[0]

    if c[1] > max_c[1]:
        max_c[1] = c[1]
    if c[1] < min_c[1]:
        min_c[1] = c[1]

In [66]:
max_c, min_c

([26.229162, 91.849942], [26.081007, 91.0])

#### Plotting coordinates

In [ ]:
import plotly.express as px
import pandas as pd

# color_scale = [(0, 'orange')]
#zoom = getBoundsZoomLevel([26.229162, 91.849942, 26.081007, 91.0])
fig = px.scatter_mapbox(test_df, 
                        lat="lat", 
                        lon="long", 
                        hover_name="name", 
                        # hover_data=["Address", "Listed"],
                        # color="Listed",
                        # color_continuous_scale=color_scale,
                        # size="Listed",
                        zoom=10, 
                        height=800,
                        width=800)

fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

TypeError: getBoundsZoomLevel() missing 1 required positional argument: 'mapDim'